@model IEnumerable<Group1.Web.Models.Product>
@{
    ViewData["Title"] = "Products";
}
<center><h1>@ViewData["Title"]</h1></center>
<hr />
<form method="post">
    <div class="card-deck" style="justify-content: center">
        @foreach (var item in Model)
        {
            <div class="card" style="min-width: 250px; max-width: 250px; margin:5px;">
                <a asp-controller="Product" asp-action="GetOneProduct" asp-route-productid="@item.Id"><img class="card-img-top" src="@Url.Content(item.ImageUrl)" alt="@item.Name" style="height:230px;"></a>
                <div class="card-body text-center">
                    <h4 class="card-title">@item.Name</h4>
                    <p class="card-text">@item.Price SEK</p>
                    <a class="text-muted" asp-controller="Product" asp-action="GetOneProduct" asp-route-productid="@item.Id">Details</a><br /><br />
                    @if (item.Quantity > 0)
                    {
                    <input value="Add to cart" type="submit" asp-action="AddToCart" asp-controller="Shoppingcart" asp-route-productid="@item.Id" class="btn btn-dark" />
                    }
                    else
                    {
                    <button type="button" disabled>Add to cart</button>
                    }
                </div>
            </div>
        }
    </div>
</form>
