@model Group1.Web.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h1>ProductDetails</h1>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 d-flex justify-content-center align-items-center overflow-hidden rounded">
            <div >
                <img class="card-img-top" src="@Model.ImageUrl" alt="@Model.Name" style="width:300px;"><br />
            </div>
        </div>

        <div class="col-sm-12 col-md-6 pl-sm-4">
            <div class="container">
                <b>Description: </b>@Model.Description<br />
                <b>Price: </b>@Model.Price SEK<br />
                <b>Available: </b>@Html.DisplayFor(x=>x.Availability)
                <b>Stock:@Html.DisplayFor(x=>x.Quantity)</b>

                <div class="text-center">
                    <button onclick="history.back()" class="btn btn-dark">Back</button>
                </div>

            </div>
        </div>
    </div>
</div>

