@model IEnumerable<Group1.Web.Models.Order>

@{
    ViewData["Title"] = "GetAllOrder";
}

<h1>GetAllOrder</h1>


<form method="post" asp-action="CreateOrder" asp-controller="UpdateDeliveryStatus">
    <table class="table">
        <thead>
            <tr>
                <th>
                    OrderId
                </th>
                <th>
                    UserID
                </th>
                <th>
                    Order date
                </th>
                <th>
                    Current Delivery status
                </th>
                <th>
                    Change status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @if (!item.Deliverd)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.OrderDate)
                    </td>
                    <td>
                        <span>
                            Not delivered
                        </span>
                    </td>
                    <td>
                        <input type="submit" name="DeliveryStatus" value=" Change to Delivered   " class="btn btn-primary" asp-action="UpdateDeliveryStatus" asp-controller="Order" asp-route-orderId="@item.Id" />
                    </td>
                }

                @if (item.Deliverd)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.UserId)
                    </td>
                    <td>
                        @Html.DisplayFor(x => item.OrderDate)
                    </td>
                    <td>
                        <span>
                            Delivered
                        </span>
                    </td>
                    <td>
                        <input type="submit" name="DeliveryStatus" value="Change to Not-Delivered" class="btn btn-primary" asp-action="UpdateDeliveryStatus" asp-controller="Order" asp-route-orderId="@item.Id" />
                    </td>
                }

                <td>
                    <input type="submit" value="Delete" class="btn btn-danger" asp-action="DeleteOrder" asp-controller="Order" asp-route-orderId="@item.Id" />
                </td>
            </tr>
            }
        </tbody>
    </table>
</form>
